/.quarto/
.quarto/idx/index.qmd.json
.quarto/xref/e7bf922f
.Rproj.user/52B9D855/sources/prop/7B115852
.Rproj.user/52B9D855/sources/prop/85DA1B31
.Rproj.user/52B9D855/sources/session-788fa10/E4897A29
.Rproj.user/52B9D855/sources/session-788fa10/E4897A29-contents
.Rproj.user/52B9D855/sources/session-788fa10/FFA33A22
.Rproj.user
